# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.pytest_cache/
.mypy_cache/
.pyright/

# Datasets cache
datasets/cache/

# Environments
.env
.venv
venv/
ENV/
env/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
~$_Project_Report.docx
IR_Project_Report.docx
pandoc-3.10-windows-x86_64.msi
extra_files/Lecture_5.ipynb
